    <footer class="footer">
        <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <textarea [disabled]="inputService.ended" [(ngModel)]="user.response" rows="2" cols="50" placeholder="Start typing sample text to begin test"> </textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
              </div>
        </div>
      </footer>
